@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #12111A;
  }

  ::-webkit-scrollbar-thumb {
    background: #5D52FF;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7B72FF;
  }
}